.container {
    border: solid rgb(163, 163, 163);
    border-width: thin; 
    border-radius: 5px;

    max-width: 30em; 
    /* Adjust the value as needed */
    
    margin: 0 auto; 
    /* Center the container horizontally */

    transform: translateY(10em);
    /* Center the container vertically */

    padding: 1.2em;
}
