{% extends "base.html" %}

{% block content %}

<h1>Please login</h1>
<br>

<form class="form-signin" role="form" method="POST" action="{{url_for('login')}}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username(size=20, placeholder='Username') }}
        {% if form.username.errors %}
            <ul class="errors">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.password(size=20, placeholder='Password') }}
        {% if form.password.errors %}
            <ul class="errors">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.submit(class="btn btn-sm btn-success") }}
        {% if form.submit.errors %}
            <ul class="errors">
            {% for error in form.submit.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
</form>

Please log in to access this page. Or <a href="{{url_for('register')}}">register here</a>.
<br>
You can also Log in with: 
<br> 
<a href="{{url_for('google_login')}}">Google</a>
<br> 
<a href="{{url_for('github_login')}}">GitHub</a> (not finished yet)
<br>
<a href="{{url_for('orcid_login')}}">ORCID</a> (not finished yet)
<br> 



{% endblock %}