{% extends "base.html" %}

{% block content %}

<h1>Please Register</h1>
<br>

<form class="form-signin" role="form" method="POST" action="{{url_for('register')}}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username(size=20, placeholder='Username') }}
        {% if form.username.errors %}
            <ul class="errors">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.email(size=20, placeholder='Email') }}
        {% if form.email.errors %}
            <ul class="errors">
            {% for error in form.email.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.password(size=20, placeholder='Create Password') }}
        {% if form.password.errors %}
            <ul class="errors">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.confirm(size=20, placeholder='Repeat password') }}
        {% if form.confirm.errors %}
            <ul class="errors">
            {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.submit(class="btn btn-sm btn-success") }}
        {% if form.submit.errors %}
            <ul class="errors">
            {% for error in form.submit.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </p>
</form>





Already have an account? <a href="{{url_for('login')}}">Log in here</a>.

{% endblock %}